@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Great+Vibes&family=Tilt+Neon&display=swap');


:root {
    --cor0: #A30B37;
    --cor1: #CE8147;
    --cor2: #ECDD7B;
    --cor3: #5FB49C;
    --cor4: #360568;

    --texto: Dosis;
    --Theader: Great Vibes;
    --Tsub: Tilt Neon;
}

main p {
    font-family: var(--texto);
    text-indent: 10px;
}

h2 {
    font-family: var(--Tsub);
}

a.ext {
    font-weight: 800;
    text-decoration: none;
    color: #4f049b;
}

a.ext:hover {
    text-decoration: underline;
    color: salmon;
}

a.ext::after {
    content: ' \1F517';
}

* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: #360568;
    padding: 20px;
}

header > h1 {
    font-family: var(--Theader);
    color: white;
    font-size: 4em;
    text-align: center;
    margin: 30px 0px;
}

nav > a {
    font-family: var(--Tsub);
    text-decoration: none;
    color: #5FB49C;
    padding: 10px;
}

nav > a:hover {
    color: aqua;
    text-decoration: underline;
    background-color: #500799;
    border-radius: 10px;
    transition-duration: 0.5s;
}

main > section#sec1 {
    background-color: var(--cor3);
    background-image: url('../imagens/Image4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.177);
    padding: 20px;   
}

main > section#sec2 {
    background-color: var(--cor4);
    padding: 20px;
    height: 140vh;
    position: relative;
}

main > section#sec3 {
    padding: 20px;
    background-color: var(--cor1);
    background-image: url('../imagens/Image5.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

table {
    background-color: white;
    border-collapse: collapse;
    font-family: var(--texto);
    width: 400px;
    font-weight: 600;
}

caption {
    background-color: #4f049b;

}

th, td {
    border: 1px solid black;
    padding: 10px;
}

td.number {
    text-align: right;
}

tbody > tr:nth-child(even) {
    background-color: lightgray;
}

th {
    background-color: rgba(0, 0, 0, 0.485);
}

div#div3 {
    background-color: rgba(221, 215, 215, 0.837);
}

div#div2 {
    position: absolute;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    min-width: 480px;
}

main section q {
    padding: 15px;
    font-size: 20px;
    font-family: var(--texto);
}

main section ul {
    font-size: 20px;
    padding: 15px;
    text-align: justify;
    font-family: var(--texto);
    list-style-position: inside;
    list-style-type: '\1F372\0020';
    font-weight: 500;
}


main section li {
    margin: 15px;
}

main section p {
    font-size: 20px;
    padding: 15px;
    text-align: justify;
}

main section h2 {
    padding: 15px;
    font-size: 1.6em;
    text-align: center;
}

main section div.box {
    background-color: rgba(211, 211, 211, 0.582);
    border-radius: 4px;
    max-width: 500px;
    padding: 20px 0px;
    font-weight: 600;

}

footer {
    background-color: var(--cor4);
    border-radius: 4px 4px 0px 0px;
    padding: 10px;
    font-family: var(--texto);
    font-size: 13px;
    font-weight: 700;
    text-align: center;
}
  